.bg-orange {
    background-color: rgb(209, 138, 5);
  }

.bg-purple {
  background-color: purple;
}

.text-yellow{
  color: yellow;
}

.btn.btn-orange{
  background-color: orange;
  color: black;
}

.textcarousel {
  color: white;
}

.navbar-logo {
  height: 50px;
  width: 50px;
}

.coloring {
  background-color: rgb(178, 165, 165);
}

.text-colors {
  color: rgb(230, 225, 225);
}

.custom-auto-margin {
  margin-left: auto;
}

.card {
  margin: 10px; /* Decrease margin to reduce space around the card */
  width: 18rem; /* Decrease width to make the card smaller */
  max-height: 350px; /* Decrease max-height to reduce the overall height of the card */
  border-radius: 10px; /* Adjust border-radius if needed */
}

.card-body {
  padding: 0; /* Adjust padding inside the card body */
}