* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfd2d2; 
  height: 100%; 
  margin: 0; 
}

.container {
  min-height: 100vh; 
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
}

.card-responsiveness {
  width: 35vw;
  background-color: white;
}

.card-body {
  padding: 20px 40px; 
  height: auto;
  min-width: 320px;
  background-color: white !important; 
}

.form-control,
.custom-select {
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn {
  border-radius: 5px;
  margin-top: 10px;
}

.form-label {
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}

.login-image img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.rounded-input {
  border-radius: 10px;
}

.coloring {
  background-color: #dfd2d2;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    margin-right: 0;
  }
  .login-image img {
    border-radius: 10px 10px 0 0;
  }
}
