* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .login-container{
    height: 102vh;
    background-color: rgb(241, 245, 249);
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 245, 249); /* Set background color here */
}
  
  .container {
    min-height: 50vh; 
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
  }
  
  .card-body {
    padding: 40px;
    height: 166%;
    min-width: 320px;
    border-radius: 5px;
    background-color: white;
  }
  
  .form-control,
  .custom-select {
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .btn {
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .login-image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    height: 166%;
    width: 100%;
  }
  
  .rounded-input {
    border-radius: 10px;
  }
  
  .coloring {
    background-color: #dfd2d2;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      margin-right: 0;
    }
    .login-image img {
      border-radius: 10px 10px 0 0;
    }
  }
  