.bg-orange {
    background-color: orange;
  }

.bg-purple {
  background-color: purple;
}

.text-yellow{
  color: yellow;
}

.btn.btn-orange{
  background-color: orange;
  color: black;
}

.textcarousel {
  color: white;
}

.navbar-logo {
  height: 50px;
  width: 50px;
}